.wrap {
    margin: 0 auto;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: rgb(179, 171, 171);
}

.menu {
    padding: 0;
    width: 15%;
    height: 85%;
    background: gray;
    float: left;
    margin: 0;
    position: fixed;
    left: 0;
    top: 15%;
}

.menu_bottom {
    width: auto;
    height: 5%;
    bottom: 0px;
    position: absolute;
}


a {
    text-decoration: none;
}

.clearfix {
    clear: both;
}

.ul_type {
    list-style: none;
    list-style-type: none;
    padding: 6%;
    margin: 0;
}

.li_type1 {
    font-weight: bold;
    font-size: 35px;
    font-family: Microsoft JhengHei;
    background-color: pink;
    border-radius: 9px;
    padding: 2px;
}

.li_type2 {
    font-family: Microsoft JhengHei;
    font-size: 25px;
    margin-top: 10px;
    background-color: pink;
    border-radius: 9px;
    padding: 2px;
}

.search_bar {
    width: 70%;
    height: 35px;
    font-size: 20px;
    border: 2px solid #3d1101;
    border-radius: 3px;
    position: relative;
    bottom: 3px;
}

.search_button {
    width: auto;
    height: auto;
    background-color: #d8a795;
    color: aqua;
    outline: none;
    border: 2px solid #3d1101;
    cursor: pointer;
    bottom: 5px;
    position: relative;
    border-radius: 3px;
}

input::placeholder {
    font-size: 15px;
}

.footer {
    height: 50px;
    background: black;
}

.icon {
    width: 28px;
    height: 28px;
}

.icon img {
    max-width: 100%;
    max-height: 100%;
}

.top_menu {
    position: fixed;
    left: 0;
    right: 0;
}

.header {
    z-index: 5;
}

.header_menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header_title a {
    color: black;
    font-size: 32px;
    font-family: 'Open Sans', Arial, sans-serif;
    z-index: 5;
}

ul {
    /* 取消ul預設的內縮及樣式 */
    margin: 0;
    padding: 0;
    list-style: none;
}

.mid_content {
    width: 80%;
    height: 70%;
    position: fixed;
    right: 10%;
    top: 15%;

}

.header_left {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_bar {
    width: 75%;
    height: 50px;
    font-size: 35;
    border: 0;
    border-radius: 3px;
    position: absolute;
    right: 13%;
}

.search  ul > li > .login > .lightbox > p ,
.search  ul > li > .signIn > .userSignIn > p ,
.search a {
    color: #fff;
}
.search  ul > li > .login > .lightbox > p:hover,
.search  ul > li > .signIn > .userSignIn > p:hover,
.search a:hover {
    color: #e5dbc8;
    
}
.header_login {
    margin-left: auto;
    padding-right: 11px;
}
.menu-toggle-label {
    display: none;
}
@media screen and (max-width: 724px) {
    .menu-toggle-label {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .header_left {
        height: 50px;
        z-index: 2;
    }
    .header_menu {
        flex-direction: column;
        position: relative;
        top: 50px;

        &.active {
            transform: translateY(-45px);
            height: 0px;
        }

        .drop-down-menu {
            .fa-chevron-top {
                color: #474747;
                transform: rotate(0);
                transition: all 0.5s;

                &.rotate {
                    transform: rotate(180deg);
                }
            }
        }

        ul {
            width: 100%;
        }

        li {
            width: 100%;
            display: flex;
            justify-content: center;
            border-bottom: #ccc solid 1px;
        }

    }

    ul.drop-down-menu {
        display: inline-block;
        /* background-color: rgb(179, 171, 171); */
        width: 100%;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 20px;
        margin: 2px;
        z-index: 1;
    }

    ul.drop-down-menu a {
        background-color: rgb(179, 171, 171);
        color: #333;
        display: block;
        padding: 0 30px;
        text-decoration: none;
        width: 100%;
        display: flex;
        line-height: 40px;
        justify-content: center;
    }

    .header_title {
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: #ccc solid 3px;
        background: rgb(179, 171, 171);
        z-index: 2;
        position: fixed;
    }

    .mid_content {
        width: 100%;
        right: 0;
        top: 15%;
    }

}

@media screen and (min-width: 724px) {
   
    .fa-chevron-top {
        display: none;
    }

    ul.drop-down-menu {
        position: absolute;
        display: contents;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 20px;
        margin: 2px;
        z-index: 1;
    }

    ul.drop-down-menu li {
        position: relative;
        white-space: nowrap;
        border-right: #ccc 1px solid;
    }

    ul.drop-down-menu>li:last-child {
        border-right: none;
    }

    ul.drop-down-menu>li {
        float: left;
        /* 只有第一層是靠左對齊*/
    }

    ul.drop-down-menu a {
        color: #333;
        display: block;
        padding: 0 30px;
        text-decoration: none;
        line-height: 40px;

    }

    .drop-down-menu {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
    }
    .header {
        height: 8%;
        background: rgb(179, 171, 171);
    }

    .header_title {
        position: absolute;
        height: 100%;
        display: flex;
        align-items: center;
        left: 10px;
        flex-direction: row;
    }

    .mid_content {
        width: 80%;
        right: 10%;
        top: 15%;
        height: 70%;
    }

    ul.drop-down-menu a:hover {
        /* 滑鼠滑入按鈕變色*/
        background-color: #ef5c28;
        color: #fff;
    }

}

