* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

img {
    width: 20px;
    margin-right: 8px;
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #ad8052;
}

::-webkit-scrollbar-track {
    background-color: #e3c381;
}

.asideMenu {
    background-color: rgba(90, 43, 13, 0.9);
    position: fixed;
    height: 92%;
    bottom: 0;
    left: 0;
    border-right: 5px solid #ff9a15;
    padding: 20px;
    box-shadow: 0 0 5px hsla(240, 40%, 15%, 0.6);
    transform: translateX(0);
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    z-index: 4;


    .btn {
        position: absolute;
        top: 50%;
        right: -11%;
        padding: 40px 10px;
        height: 15%;
        width: 11%;
        background-color: #ff9a15;
        border-radius: 0 6px 6px 0;
        box-shadow: 0 0 5px hsla(240, 40%, 15%, 0.6);

        
    }

    .title {
        font-size: 24px;
        color: #ff9a15;
    }

    .list {
        display: flex;
        position: inherit;
        top: 10%;
        width: 100%;
        padding-right: 15px;
        background: #794c2f;

        .optionTitle {
            color: #ff9a15;
        }

        .optionList {
            color: #fff;
        }

        .optionTitle,
        .optionList {
            display: block;
            padding: 20px;
            padding-top: 0px;
            line-height: 2;
            width: 100%;

            .fas {
                color: #fff;
                outline: none;
                border: none;
            }
        }
    }
}

header {
    padding: 0;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
}
#topic {
    overflow-y: auto;
}
.optionTitle .topics {
    margin-top: 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #fff;
}
.change_dialog div {
    display: flex;
    align-content: center;
    justify-content: center;
}
.optionTitle .topics:hover {
    color: white;
}

.individualTopic {
    color: white;
    text-align: right;
    margin: 0;
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.individualTopic:hover {
    background: #66261161;
    border-radius: 10px;
    border-bottom: 1px solid #7e7e7e;
}

.mid {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.main_context {
    position: inherit;
    display: flex;
    right: 0;
    /* height: 100%; */
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &.active {
        width: 100%;
        /* height: 100%; */
    }
}

.context {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 15%;
    width: 80%;
    z-index: 2;
    border: 3px solid #272626ad;
    /* position: inherit; */
    border-radius: 4px;
    box-shadow: 0 0 8px hsla(204, 40%, 15%, 0.6);
}

.correct_dialog {
    display: flex;
    /* height: 60%; */
    width: 95%;
    border: 1px solid #272626ad;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 200px;
}

.question {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    font-size: 23px;
}

.answer_group {
    padding-top: 10px;
    font-size: 20px;
    display: flex;
    width: 90%;
    flex-direction: column;
}

.context_info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.contextTe {
    font-size: 25px;
    display: flex
}

.answerModify {
    display: flex;
    flex-direction: column;
}

.answerAdded {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.answerDirectionAdd {
    width: 40%;
    /* height: 100%; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
    flex-direction: column;
}

.answer_individual {
    border-top: 2px solid #04040499;
}
.answer {
    min-height: 60px;
}

.dialog_change_group {
    width: 80%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.change_dialog {
    background: #eaa639cc;
    border-radius: 20px;
    color: #050404;
    display: flex;
    height: 35px;
    justify-content: space-around;
    align-items: center;
    min-width: 110px;
}

.change_dialog:hover {
    color: white;
}

.answer_individual:hover {
    background: #eaa639cc;
}

.answer:hover {
    background: #eaa639cc;
}

.middle {
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 20px;
}

.modify {
    font-size: 1rem;
    white-space: nowrap;
}

.modify:hover {
    background: #f4f454e6;
    border-radius: 3px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    white-space: nowrap;
}

.modal-body {
    background: #00000021;
    border-radius: 5px;
    padding: 5px;
}

.chapter {
    /* position: inherit; */
    top: 30px;
    display: flex;
    width: 80%;
    padding-left: 20px;
    border-top-right-radius: 5px;
    font-size: 44px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 30px;
    background: #eeb861;
    justify-content: flex-start;
    align-items: center;
}

.view:hover {
    background: #6a4025;
    width: 90%;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}

.view {
    height: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
    width: 100%;
}

.viewGroup {
    background: #794c2f;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.viewTitle {
    width: 100%;
    background: rgb(121, 76, 47);
    color: rgb(255, 255, 255);
    padding-left: 15px;
    padding-top: 10px;
    text-align: center;
    border-bottom: 3px solid #848281;
}

.contextTitle {
    text-align: center;
    align-items: center;
}
.QRcode_download:hover {
    color: #7e7e7e;
}
/*高度小於*/
@media screen and (max-height: 620px) {
    .scrollBarTopic {
        overflow-y: auto;
        max-height: 150px;
    }
    
}

/*寬度小於*/
@media screen and (max-width: 1001px) {
    .col-5 {
        font-size: 20px;
    }

    .mid {
        top: 5%;
    }

    .viewTitle {
        font-size: 20px;
    }

    .main_context {
        position: absolute;
        width: 100%;
        top: 10%;
    }

    .viewGroup {
        margin-top: 20px;
    }

    .asideMenu {
        width: 80%;

        
        &.active {
            transform: translateX(-100%);
        }

        .btn {
            right: -40px;
            width: 40px;

            .fa-chevron-right {
                color: #474747;
                transform: rotate(0);
                transition: all 0.5s;
    
                &.rotate {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .viewGroup {

        margin-bottom: 20px;
    }

    .chapter {
        height: 15%;
    }

    .context {
        /* height: 75%; */
        min-height: 400px;
    }

    .change_dialog div {
        width: 100;
        white-space: nowrap
    }

    .change_dialog {
        height: 100%;
        white-space: nowrap;
    }

    .contextTitle .col-5 {
        font-size: 15px;
    }
}
/*高度大於 620*/
@media screen and (min-height: 620px) {
    .scrollBarTopic {
        overflow-y: auto;
        height: 350px;
    }

    .chapter {
        top: 5%;
        margin-bottom: 2%;
    }

}

/*寬度1000 ~ 1400*/
@media screen and (min-width: 1000px) and (max-width: 1400px) {
    .topics .col {
        flex-direction: column;
        white-space: nowrap;
        /* 防止文本换行 */
        overflow: hidden;
        /* 隐藏溢出文本 */
        text-overflow: ellipsis;
        /* 使用省略号 (...) 隐藏溢出文本 */
    }

}

@media screen and (min-width: 1000px) {
    .mid {
        top: 8%;
    }

    .viewTitle {
        font-size: 30px;
    }

    .main_context {
        position: absolute;
        top: 10%;
        width: 80%;
    }

    .asideMenu {
        width: 20%;

        
        &.active {
            transform: translateX(-100%);
        }
        
        .btn {
            .fa-chevron-right {
                color: #474747;
                transform: rotate(0);
                transition: all 0.5s;
    
                &.rotate {
                    transform: rotate(180deg);
                }
            }
        }
    }
}